
@-webkit-keyframes expandA{
  0%{height:0px}
  100%{height:60px}
}

@-webkit-keyframes expandB{
  0%{height:0px}
  100%{height:40px}
}

.footerA-container {
  position: relative;
  background-color: rgb(22,27,34);
  height: 60px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-right: 10px;
  margin-left: 10px;

  -webkit-animation: expandA 5s;
}

.footerB-container {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(34, 42, 54);
  height: 40px;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;


  -webkit-animation: expandB 4s;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  justify-content: center;
}
