<div class="home-container">

  <div class="video-container">
    <div class="player-container">
      <div id="player"></div></div>
    <div class="btn-container">
      <button mat-raised-button color="primary" (click)="onPlayClicked()">Play</button>
      <button mat-raised-button color="primary" (click)="onPauseClicked()">Pause</button>

      <div class="prg-container">
        <mat-slider class="prg-player" aria-label="unit(s)" [value]="prgValue" [max]="100" [min]="0" (input)="onInputChange($event)"></mat-slider>
      </div>

      <div class="code-container">
        <mat-form-field class="code-field" appearance="fill" color="primary">
          <mat-label>Paste code here</mat-label>
          <input matInput type="text" [(ngModel)]="query">
          <button class="code-btn" matSuffix mat-button (click)="onCodeSubmit()">
            Enter
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
