
.home-container {
  display: flex;
  justify-content: center;
}

.video-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;


}

#player {
  pointer-events: none;
}

button {
  margin-left: 10px;
  margin-top: 5px;
}

.prg-container {
  display: inline-block;
  width: 70%;
  margin-left: 30px;
}
