
.home-container {
  display: flex;
  justify-content: center;
}

.video-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;


}

.player-container {
  pointer-events: none;
}

.prg-player {
  width: 100%;
}

button {
  margin-left: 10px;
  margin-top: 5px;
}

.prg-container {
  display: inline-block;
  margin-left: 30px;
  width: 70%;
  background-color: rgb(158,158,158);
  margin: 5px;
  padding-left: 5px;
  border-radius: 5px;
}

mat-slider {
  cursor: pointer;
}

.query-container {
  margin-bottom: 1000px;
}
