<div class="home-container">


  <div class="video-container">
    <div class="player-container">
      <div id="player"></div></div>
    <div class="btn-container">
      <button *ngIf="!loading" mat-raised-button color="primary" (click)="onPlayClicked()">Play</button>
      <button *ngIf="!loading" mat-raised-button color="primary" (click)="onPauseClicked()">Pause</button>

      <div *ngIf="loading" class="spinner-container">
        <mat-spinner  [diameter]="30"></mat-spinner> <a>Loading...</a>
      </div>

      <div *ngIf="!loading" class="prg-container">
        <mat-slider class="prg-player" aria-label="unit(s)" [value]="prgValue" [max]="100" [min]="0" (input)="onInputChange($event)"></mat-slider>
      </div>

      <div *ngIf="!loading" class="code-container">
        <mat-form-field class="code-field" appearance="fill" color="primary">
          <mat-label>Paste code here</mat-label>
          <input matInput type="text" [(ngModel)]="query">
          <button class="code-btn" matSuffix mat-button (click)="onCodeSubmit()">
            Enter
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="count-container">
    <a>Users Connected: <a class="count-text">{{userCount}}</a></a>
  </div>
</div>
